.DS_Store
node_modules
/dist
/public/storage
/public/js/
/public/css/
/public/build/
/public/hot

.env
.env.local
.env.*.local
.phpunit.result.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.composer
.idea
jsconfig.json
.vscode
vendor
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
