@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/all.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    ---background-light: #cad2d369;
    --Primary-light-color: #eaeaff;
    --black: #000000bb;
    --HeadBar: ##262424;
    --mediumDarkGreyColor: #aeadad;
    --darkGreyColor: #8a8a8a;
    --mainBlue: #0000009e;
    --mainBlueActive: #1a1a1a;
    --softBlue: #d3d3d3d5;
    --softBlueActive: #4e4e4e4f;
    --softGreen: #abe19e;
}
